html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace,monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,strong {
    font-weight: bolder
}

code,kbd,samp {
    font-family: monospace,monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,input {
    overflow: visible
}

button,select {
    text-transform: none
}

[type=button],[type=reset],[type=submit],button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none
}

*,::after,::before {
    box-sizing: inherit
}

html {
    box-sizing: border-box
}

body,button,input,optgroup,select,textarea {
    color: #404040;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.5
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    margin-bottom: .5rem;
    line-height: 1.5;
    color: #3c4248;
}

.h1,h1 {
    font-size: 2.57812rem
}

.h2,h2 {
    font-size: 2.10938rem
}

.h3,h3 {
    font-size: 1.75781rem
}

.h4,h4 {
    font-size: 1.52344rem
}

.h5,h5 {
    font-size: 1.23047rem
}

.h6,h6 {
    font-size: 1.05469rem
}

.line-hide-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
}

.line-hide-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.line-hide-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical
}

p {
    margin-bottom: 1.5em
}

cite,dfn,em,i {
    font-style: italic
}

blockquote {
    margin: 0 1.5em
}

address {
    margin: 0 0 1.5em
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch",courier,monospace;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em
}

code,kbd,tt,var {
    font-family: monaco,consolas,"Andale Mono","DejaVu Sans Mono",monospace
}

abbr,acronym {
    border-bottom: 1px dotted #666;
    cursor: help
}

ins,mark {
    background: #fff9c0;
    text-decoration: none
}

big {
    font-size: 125%
}

body {
    background: #fff
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em
}

ol,ul {
    margin: 0 0 1.5em 3em
}

ul {
    list-style: disc
}

ol {
    list-style: decimal
}

li>ol,li>ul {
    margin-bottom: 0;
    margin-left: 0;
    list-style: none;
}

dt {
    font-weight: 700
}

dd {
    margin: 0 1.5em 1.5em
}

embed,iframe,object {
    max-width: 100%
}

img {
    height: auto;
    max-width: 100%
}

figure {
    margin: 1em 0
}

table {
    margin: 0 0 1.5em;
    width: 100%
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    outline: 0
}

a.active,a.link-active,a:active,a:focus,a:hover {
    color: #50a1ff;
    text-decoration: none;
    outline: none
}

select {
    border: 1px solid #ccc
}

textarea {
    width: 100%
}

.row-sm {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -6px;
    margin-left: -6px
}

.row-sm>.col,.row-sm>[class*=col-] {
    padding-right: 6px;
    padding-left: 6px
}

.dropdown-menu {
    position: absolute;
    background: #fff;
    min-width: 150px;
    border-radius: 4px;
    border: 1px solid #ebeef5;
    padding: 12px;
    z-index: 2000;
    color: #606266;
    line-height: 1.4;
    text-align: justify;
    font-size: 14px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    word-break: break-all
}

.font-size-10,.fs-10 {
    font-size: 10px!important
}

.font-size-11,.fs-11 {
    font-size: 11px!important
}

.font-size-12,.fs-12 {
    font-size: 12px!important
}

.font-size-13,.fs-13 {
    font-size: 13px!important
}

.font-size-14,.fs-14 {
    font-size: 14px!important
}

.font-size-15,.fs-15 {
    font-size: 15px!important
}

.font-size-16,.fs-16 {
    font-size: 16px!important
}

.font-size-17,.fs-17 {
    font-size: 17px!important
}

.font-size-18,.fs-18 {
    font-size: 18px!important
}

.font-size-19,.fs-19 {
    font-size: 19px!important
}

.font-size-20,.fs-20 {
    font-size: 20px!important
}

.font-size-22,.fs-22 {
    font-size: 22px!important
}

.font-size-24,.fs-24 {
    font-size: 24px!important
}

.font-size-26,.fs-26 {
    font-size: 26px!important
}

.font-size-28,.fs-28 {
    font-size: 28px!important
}

.font-size-32,.fs-32 {
    font-size: 32px!important
}

.font-size-36,.fs-36 {
    font-size: 36px!important
}

.font-size-40,.fs-40 {
    font-size: 40px!important
}

.font-size-50,.fs-50 {
    font-size: 50px!important
}

.font-size-60,.fs-60 {
    font-size: 60px!important
}

.font-weight-100,.fw-100 {
    font-weight: 100!important
}

.font-weight-200,.fw-200 {
    font-weight: 200!important
}

.font-weight-300,.fw-300 {
    font-weight: 300!important
}

.font-weight-400,.fw-400 {
    font-weight: 400!important
}

.font-weight-500,.fw-500 {
    font-weight: 500!important
}

.font-weight-600,.fw-600 {
    font-weight: 600!important
}

.font-weight-700,.fw-700 {
    font-weight: 700!important
}

.font-weight-800,.fw-800 {
    font-weight: 800!important
}

.cursor,.cursor-pointer {
    cursor: pointer;
}

.text-white {
    color: #fff!important
}

.text-primary {
    color: #50a1ff!important
}

a.text-primary:focus,a.text-primary:hover {
    color: #0478ff!important
}

.text-secondary {
    color: #e9ecf0!important
}

a.text-secondary:focus,a.text-secondary:hover {
    color: #bcc5d1!important
}

.text-success {
    color: #3cd458!important
}

a.text-success:focus,a.text-success:hover {
    color: #23a03a!important
}

.text-info {
    color: #926dde!important
}

a.text-info:focus,a.text-info:hover {
    color: #642fd0!important
}

.text-warning {
    color: #ffba00!important
}

a.text-warning:focus,a.text-warning:hover {
    color: #b38200!important
}

.text-danger {
    color: #ff4954!important
}

a.text-danger:focus,a.text-danger:hover {
    color: #fc000f!important
}

.text-light {
    color: #f8fafc!important
}

a.text-light:focus,a.text-light:hover {
    color: #c2d4e5!important
}

.text-dark {
    color: #16202f!important
}

a.text-dark:focus,a.text-dark:hover {
    color: #000!important
}

.text-body {
    color: #757575!important
}

.text-muted {
    color: #979b9e!important;
    opacity: .7;
}

.hover-text-underline:hover {
    transition: border-bottom-width .3s;
    border-bottom: 4px dashed
}

.opacity-0 {
    opacity: 0
}

.opacity-5 {
    opacity: .05!important
}

.opacity-10 {
    opacity: .1!important
}

.opacity-15 {
    opacity: .15!important
}

.opacity-20 {
    opacity: .2!important
}

.opacity-25 {
    opacity: .25!important
}

.opacity-30 {
    opacity: .3!important
}

.opacity-35 {
    opacity: .35!important
}

.opacity-40 {
    opacity: .4!important
}

.opacity-45 {
    opacity: .45!important
}

.opacity-50 {
    opacity: .5!important
}

.opacity-55 {
    opacity: .55!important
}

.opacity-60 {
    opacity: .6!important
}

.opacity-65 {
    opacity: .65!important
}

.opacity-70 {
    opacity: .7!important
}

.opacity-75 {
    opacity: .75!important
}

.opacity-80 {
    opacity: .8!important
}

.opacity-85 {
    opacity: .85!important
}

.opacity-90 {
    opacity: .9!important
}

.opacity-95 {
    opacity: .95!important
}

.p-5 {
    padding: 1.5rem!important
}

.pt-5,.py-5 {
    padding-top: 1.5rem!important
}

.pe-5,.px-5 {
    padding-right: 1.5rem!important
}

.pb-5,.py-5 {
    padding-bottom: 1.5rem!important
}

.ps-5,.px-5 {
    padding-left: 1.5rem!important
}

.p-6 {
    padding: 2rem!important
}

.pt-6,.py-6 {
    padding-top: 2rem!important
}

.pe-6,.px-6 {
    padding-right: 2rem!important
}

.pb-6,.py-6 {
    padding-bottom: 2rem!important
}

.ps-6,.px-6 {
    padding-left: 2rem!important
}

.p-7 {
    padding: 3rem!important
}

.pt-7,.py-7 {
    padding-top: 3rem!important
}

.pe-7,.px-7 {
    padding-right: 3rem!important
}

.pb-7,.py-7 {
    padding-bottom: 3rem!important
}

.ps-7,.px-7 {
    padding-left: 3rem!important
}

.p-8 {
    padding: 5rem!important
}

.pt-8,.py-8 {
    padding-top: 5rem!important
}

.pe-8,.px-8 {
    padding-right: 5rem!important
}

.pb-8,.py-8 {
    padding-bottom: 5rem!important
}

.ps-8,.px-8 {
    padding-left: 5rem!important
}

.p-9 {
    padding: 7rem!important
}

.pt-9,.py-9 {
    padding-top: 7rem!important
}

.pe-9,.px-9 {
    padding-right: 7rem!important
}

.pb-9,.py-9 {
    padding-bottom: 7rem!important
}

.ps-9,.px-9 {
    padding-left: 7rem!important
}

.p-10 {
    padding: 9rem!important
}

.pt-10,.py-10 {
    padding-top: 9rem!important
}

.pe-10,.px-10 {
    padding-right: 9rem!important
}

.pb-10,.py-10 {
    padding-bottom: 9rem!important
}

.ps-10,.px-10 {
    padding-left: 9rem!important
}

.m-6 {
    margin: 2rem!important
}

.mt-6,.my-6 {
    margin-top: 2rem!important
}

.me-6,.mx-6 {
    margin-right: 2rem!important
}

.mb-6,.my-6 {
    margin-bottom: 2rem!important
}

.ms-6,.mx-6 {
    margin-left: 2rem!important
}

.m-7 {
    margin: 3rem!important
}

.mt-7,.my-7 {
    margin-top: 3rem!important
}

.me-7,.mx-7 {
    margin-right: 3rem!important
}

.mb-7,.my-7 {
    margin-bottom: 3rem!important
}

.ms-7,.mx-7 {
    margin-left: 3rem!important
}

.m-8 {
    margin: 5rem!important
}

.mt-8,.my-8 {
    margin-top: 5rem!important
}

.me-8,.mx-8 {
    margin-right: 5rem!important
}

.mb-8,.my-8 {
    margin-bottom: 5rem!important
}

.ms-8,.mx-8 {
    margin-left: 5rem!important
}

.m-9 {
    margin: 7rem!important
}

.mt-9,.my-9 {
    margin-top: 7rem!important
}

.me-9,.mx-9 {
    margin-right: 7rem!important
}

.mb-9,.my-9 {
    margin-bottom: 7rem!important
}

.ms-9,.mx-9 {
    margin-left: 7rem!important
}

.m-10 {
    margin: 9rem!important
}

.mt-10,.my-10 {
    margin-top: 9rem!important
}

.me-10,.mx-10 {
    margin-right: 9rem!important
}

.mb-10,.my-10 {
    margin-bottom: 9rem!important
}

.ms-10,.mx-10 {
    margin-left: 9rem!important
}

.btn-primary {
    color: #fff;
    background-color: #3c96ff;
    border-color: #3c96ff
}

.btn-primary:hover {
    color: #fff;
    background-color: #3c96ff;
    border-color: #3c96ff
}

.btn-check:focus+.btn-primary,.btn-primary:focus {
    color: #fff;
    background-color: #3c96ff;
    border-color: #3c96ff;
    box-shadow: 0 0 0
}

.btn-check:active+.btn-primary,.btn-check:checked+.btn-primary,.btn-primary.active,.btn-primary:active,.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #3c96ff;
    border-color: #3c96ff
}

.btn-check:active+.btn-primary:focus,.btn-check:checked+.btn-primary:focus,.btn-primary.active:focus,.btn-primary:active:focus,.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0
}

.btn-primary.disabled,.btn-primary:disabled {
    color: #fff;
    background-color: #3c96ff;
    border-color: #3c96ff
}

.btn-outline-primary {
    color: #3c96ff;
    border-color: #3c96ff
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #3c96ff;
    border-color: #3c96ff
}

.btn-check:focus+.btn-outline-primary,.btn-outline-primary:focus {
    box-shadow: 0 0 0
}

.btn-check:active+.btn-outline-primary,.btn-check:checked+.btn-outline-primary,.btn-outline-primary.active,.btn-outline-primary.dropdown-toggle.show,.btn-outline-primary:active {
    color: #fff;
    background-color: #3c96ff;
    border-color: #3c96ff
}

.btn-check:active+.btn-outline-primary:focus,.btn-check:checked+.btn-outline-primary:focus,.btn-outline-primary.active:focus,.btn-outline-primary.dropdown-toggle.show:focus,.btn-outline-primary:active:focus {
    box-shadow: 0 0 0
}

.btn-outline-primary.disabled,.btn-outline-primary:disabled {
    color: #3c96ff;
    background-color: transparent
}

.bg-gradient-primary {
    background-image: linear-gradient(45deg,#50a1ff,#88bfff)!important
}

.bg-gradient-secondary {
    background-image: linear-gradient(45deg,#e9ecf0,#f0f2f5)!important
}

.bg-gradient-green {
    background-image: linear-gradient(45deg,#7fe496,#6edf8f)!important;
}

.bg-gradient-orange {
    background-image: linear-gradient(45deg,#fe9078,#f1b87f)!important
}

.bg-gradient-blue {
    background-image: linear-gradient(45deg,#6cacfd,#93c8ff)!important
}

.bg-gradient-purple {
    background-image: linear-gradient(45deg,#a682e4,#c1a7e9)!important
}

.bg-gradient-danger {
    background-image: linear-gradient(45deg,#ff4954,#ff838b)!important
}

.bg-gradient-warning {
    background-image: linear-gradient(45deg,#ffba00,#ffd052)!important
}

.bg-gradient-info {
    background-image: linear-gradient(45deg,#926dde,#b59ce9)!important
}

.bg-gradient-dark {
    background-image: linear-gradient(45deg,#16202f,#616772)!important
}

.hover-shadow-0:hover,.shadow-0 {
    box-shadow: none
}

.hover-shadow-1:hover,.shadow-1 {
    box-shadow: 0 0 4px rgba(0,0,0,.06)
}

.hover-shadow-2:hover,.shadow-2 {
    box-shadow: 0 0 8px rgba(0,0,0,.06)
}

.hover-shadow-3:hover,.shadow-3 {
    box-shadow: 0 0 12px rgba(0,0,0,.06)
}

.hover-shadow-4:hover,.shadow-4 {
    box-shadow: 0 0 18px rgba(0,0,0,.06)
}

.hover-shadow-5:hover,.shadow-5 {
    box-shadow: 0 0 26px rgba(0,0,0,.06)
}

.hover-shadow-6:hover,.shadow-6 {
    box-shadow: 0 0 36px rgba(0,0,0,.06)
}

.hover-shadow-7:hover,.shadow-7 {
    box-shadow: 0 0 48px rgba(0,0,0,.06)
}

.hover-shadow-8:hover,.shadow-8 {
    box-shadow: 0 0 60px rgba(0,0,0,.06)
}

.hover-shadow-9:hover,.shadow-9 {
    box-shadow: 0 0 74px rgba(0,0,0,.06)
}

.hover-shadow-10:hover,.shadow-10 {
    box-shadow: 0 0 74px hsla(0,0%,100%,.6)
}

.border {
    border: 1px solid hsla(210,8%,51%,.09)!important
}

.border-top {
    border-top: 1px solid hsla(210,8%,51%,.09)!important
}

.border-end {
    border-right: 1px solid hsla(210,8%,51%,.09)!important;
}

.border-bottom {
    border-bottom: 1px solid hsla(210,8%,51%,.09)!important
}

.border-start {
    border-left: 1px solid hsla(210,8%,51%,.09)!important
}

.rounded-top-pill {
    border-top-left-radius: 50rem!important;
    border-top-right-radius: 50rem!important
}

.rounded-end-pill {
    border-top-right-radius: 50rem!important;
    border-bottom-right-radius: 50rem!important
}

.rounded-bottom-pill {
    border-bottom-right-radius: 50rem!important;
    border-bottom-left-radius: 50rem!important
}

.rounded-start-pill {
    border-bottom-left-radius: 50rem!important;
    border-top-left-radius: 50rem!important
}
