<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="footer d-none d-md-block" th:fragment="footer">
  <div class="container">
    <div class="footer-border py-4">
      <div class="d-flex align-items-center justify-content-between">
        <div class="footer-logo">
          <img class="sun-logo" th:src="${theme.config.footer.footer_logo}">
          <img class="moon-logo" th:src="${theme.config.footer.footer_logo}">
        </div>

        <div class="footer-nav nav" th:with="menu = ${menuFinder.getByName(theme.config.menu.menu_foot)}">
          <ul th:with="menuItems = ${menu.menuItems}">
          <li class="menu-item current-menu-item" th:each="menuItem : ${menuItems}">
            <a href="index.html" aria-current="page" th:href="@{${menuItem.status.href}}" th:text="${menuItem.status.displayName}"></a>
          </li>
          </ul>
        </div>
        <div class="float-lg-right">
          <p>Copyright © 2022 - 2022 <a th:href="${site.url}" target="_blank">[[${site.title}]]</a> <a th:href="${site.url}" target="_blank" >[[${theme.config.basics.icp}]]</a></p>

        </div>
      </div>
    </div>
  </div>

  <script type='text/javascript' th:src="@{/assets/themes/Falls/static/js/plugins.js}" id='plugins-js'></script>
  <script type='text/javascript' th:src="@{/assets/themes/Falls/static/js/main.js}" id='main-js'></script>
  <script type='text/javascript' th:src="@{/assets/js/comment-reply.min.js}" id='comment-reply-js'></script>
</footer>

</html>