<div class="header-top" th:fragment="header1">
  <div class="container">
    <div class="header-main d-flex justify-content-between align-items-center">
      <nav class="nav top-bar-nav ">
        <li class="menu-item current-menu-item"><a href="${site.url}" aria-current="page">首页</a></li>
        <li class="menu-item current-menu-item"><a href="${site.url}" aria-current="page">装机必备</a></li>
        <li class="menu-item"><a href="${site.url}">RSS订阅</a></li>
        <li class="menu-item"><a href="${site.url}">留言反馈</a></li>
      </nav>
      <nav class="nav justify-content-end">
        <label class="theme-switch" for="checkbox">
          <input type="checkbox" id="checkbox" />
          <i class="fs-16 icon icon-sun"></i>
          <i class="fs-16 icon icon-moon"></i>
        </label>
      </nav>
    </div>
  </div>
</div>
<header class="header" th:fragment="header2" >
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a th:href="${site.url}" class="navbar-brand logo">
        <img class="sun-logo" th:src="${theme.config.header.header_logo}">
        <img class="moon-logo" th:src="${theme.config.header.header_logo}">
      </a>
      <nav class="collapse navbar-collapse order-md-2" th:with="menu = ${menuFinder.getByName(theme.config.menu.menu_top)}">
        <ul class="navbar-nav main-menu ml-4 mr-auto" th:with="menuItems = ${menu.menuItems}">
          <li class="menu-item " th:each="menuItem : ${menuItems}"
               >
            <a th:href="@{${menuItem.status.href}}" th:text="${menuItem.status.displayName}"></a>
          </li>

        </ul>
        <div class="menu-search"><a class="site-page social-icon search" href="javascript:SearchWidget.open();" rel="external nofollow" title="站内搜索">
          <i class="icon icon-search index_searchicon"></i>
        </a>
        </div>
      </nav>
    </div>
  </nav>



</header>
<div class="header-m" th:fragment="header3">
  <div class="container">
    <div class="bg-white py-3">
      <div class="d-flex align-items-center justify-content-between">
        <a class="logo" th:href="${site.url}">
          <img th:src="${theme.config.header.header_logo}">
        </a>
        <div class="header-search">
          <a class="site-page social-icon search" href="javascript:SearchWidget.open();" rel="external nofollow" title="站内搜索">
          <i class="icon icon-search"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="search-wrap" hidden="hidden">
  <div class="van-overlay"></div>
  <div class="container">
    <div class="search-form" >
      <div class="d-flex justify-content-between align-items-center">
        <div class="menu-search">
          <a class="site-page social-icon search" href="javascript:SearchWidget.open();" rel="external nofollow" title="站内搜索">
            <i class="icon icon-search index_searchicon"></i>
        </a>
        </div>
      </div>
    </div>
  </div>
</div>
