<!DOCTYPE html>
<html lang="en">
<head th:replace="modules/header :: head(metas = null, links = null, scripts =  ~{::head/script})">
</head>
<body>

<div th:replace="modules/header1 :: header1"></div>
<header th:replace="modules/header1 :: header2"></header>

<body>
<div th:with="categories = ${categoryFinder.listAsTree()}">
    <ul>
        <li th:each="category : ${categories}">
            <a th:href="@{${category.status.permalink}}">
                <span th:text="${category.spec.displayName}"> </span>
            </a>
            <th:block th:if="${not #lists.isEmpty(category.children)}">
                <th:block th:replace="~{modules/category-tree :: next (categories=${category.children})}"></th:block>
            </th:block>
        </li>
    </ul>
</div>
<footer th:replace="modules/footer :: footer"></footer>

</body>
</html>