<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{modules/layout :: html(title = ${site.title},bodydepend = index, header = null, content = ~{::content}, head = null, footer = null)}">

<th:block th:fragment="content">
<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="owl-carousel slider">
          <div class="item d-flex align-items-center">
            <div class="bg-shape-holder d-none d-lg-block">
              <img th:src="@{/assets/themes/Falls/static/img/svg/shape-1.svg}" class="shape-three">
              <img th:src="@{/assets/themes/Falls/static/img/svg/shape-55.svg}" class="shape-four">
              <img th:src="@{/assets/themes/Falls/static/img/svg/shape-56.svg}" class="shape-five">
              <img th:src="@{/assets/themes/Falls/static/img/svg/shape-57.svg}" class="shape-six">
              <img th:src="@{/assets/themes/Falls/static/img/svg/shape-58.svg}" class="shape-seven">
              <img th:src="@{/assets/themes/Falls/static/img/svg/shape-59.svg}" class="shape-eight">
              <img th:src="@{/assets/themes/Falls/static/img/svg/shape-60.svg}" class="shape-nine">
              <img th:src="@{/assets/themes/Falls/static/img/svg/shape-61.svg}" class="shape-ten">
              <img th:src="@{/assets/themes/Falls/static/img/svg/shape-62.svg}" class="shape-eleven">
              <img th:src="@{/assets/themes/Falls/static/img/svg/shape-10.svg}" class="shape-10">
              <img th:src="@{/assets/themes/Falls/static/img/svg/shape-11.svg}" class="shape-11">
            </div>
            <div class="banner-content">
              <h2>[[${theme.config.header.banner_firsttext}]]</h2>
              <p class="text-muted  fs-18">[[${theme.config.header.banner_secondtext}]]</p>
              <a th:href="${theme.config.header.banner_url}" class="btn btn-primary btn-round px-3">[[${theme.config.header.banner_buttontext}]]</a>
            </div>
            <div class="banner-img">
              <img th:src="@{/assets/themes/MacDown/static/img/banner-safe-free.png}">
            </div>
          </div>
          <div class="item d-flex align-items-center">
            <div class="bg-shape-holder d-none d-lg-block">
              <img th:src="@{/assets/themes/Falls/static/img/svg/shape-1.svg}" class="shape-three">
              <img th:src="@{/assets/themes/Falls/static/img/svg/shape-55.svg}" class="shape-four">
              <img th:src="@{/assets/themes/Falls/static/img/svg/shape-56.svg}" class="shape-five">
              <img th:src="@{/assets/themes/Falls/static/img/svg/shape-57.svg}" class="shape-six">
              <img th:src="@{/assets/themes/Falls/static/img/svg/shape-58.svg}" class="shape-seven">
              <img th:src="@{/assets/themes/Falls/static/img/svg/shape-59.svg}" class="shape-eight">
              <img th:src="@{/assets/themes/Falls/static/img/svg/shape-60.svg}" class="shape-nine">
              <img th:src="@{/assets/themes/Falls/static/img/svg/shape-61.svg}" class="shape-ten">
              <img th:src="@{/assets/themes/Falls/static/img/svg/shape-62.svg}" class="shape-eleven">
              <img th:src="@{/assets/themes/Falls/static/img/svg/shape-10.svg}" class="shape-10">
              <img th:src="@{/assets/themes/Falls/static/img/svg/shape-11.svg}" class="shape-11">
            </div>
            <div class="banner-content">
              <h2>[[${theme.config.header.banner_firsttext}]]</h2>
              <p class="text-muted  fs-18">[[${theme.config.header.banner_secondtext}]]</p>
              <a th:href="${theme.config.header.banner_url}" class="btn btn-primary btn-round px-3">[[${theme.config.header.banner_buttontext}]]</a>
            </div>
            <div class="banner-img">
              <img th:src="@{/assets/images/home-banner-carry.png}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--手机端banner-->
<section class="banner-m">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="owl-carousel m-slider">
          <div class="item d-flex align-items-center rounded px-3" style="background: #50a1ff;">
            <div class="text-center">
              <h5 class="fw-600 text-white">只收录精品MAC应用</h5>
              <p class="mb-0 text-light">每款应用都经过严格测试后发布！</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--pc分类专题四个框-->
<section class="special">
  <div class="container">
    <div class="row">
      <div class="col-3 col-lg-3">
        <a th:href="${theme.config.box.box1_url}">
          <div class="special-item hover-shadow-6 py-2 text-center" style="background: #7fe496">
            <div class="card">
              <div class="card-body">
                <h6 class="mb-0 text-white">
                  <i class="fs-24 icon icon-office"></i>
                  <span class="d-none d-md-block">[[${theme.config.box.box1_text}]]</span>
                </h6>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-3 col-lg-3">
        <a th:href="${theme.config.box.box2_url}">
          <div class="special-item hover-shadow-6 py-2 text-center" style="background: #fe9078">
            <div class="card">
              <div class="card-body">
                <h6 class="mb-0 text-white">
                  <i class="fs-24 icon icon-gallery"></i>
                  <span class="d-none d-md-block">[[${theme.config.box.box2_text}]]</span>
                </h6>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-3 col-lg-3">
        <a th:href="${theme.config.box.box3_url}">
          <div class="special-item hover-shadow-6 py-2 text-center" style="background: #50a1ff">
            <div class="card">
              <div class="card-body">
                <h6 class="mb-0 text-white">
                  <i class="fs-24 icon icon-cp"></i>
                  <span class="d-none d-md-block">[[${theme.config.box.box3_text}]]</span>
                </h6>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-3 col-lg-3">
        <a th:href="${theme.config.box.box4_url}">
          <div class="special-item hover-shadow-6 py-2 text-center" style="background: #a682e4">
            <div class="card">
              <div class="card-body">
                <h6 class="mb-0 text-white">
                  <i class="fs-24 icon icon-code"></i>
                  <span class="d-none d-md-block">[[${theme.config.box.box4_text}]]</span>
                </h6>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!--  <section th:replace="modules/box :: box"></section>-->
<!--手机端四个框-->
<section class="special-m">
  <div class="container">
    <div class="row">
      <div class="col-3 col-lg-3 text-center">
        <a class="d-block" th:href="${theme.config.box.box1_url}">
          <div class="special-m-item hover-shadow-6 py-2 text-center" style="background: #7fe496">
            <div class="card">
              <div class="card-body">
                <h6 class="mb-0 text-white">
                  <i class="icon icon-office fs-22"></i>
                  <span class="d-none d-md-block">[[${theme.config.box.box1_text}]]</span>
                </h6>
              </div>
            </div>
          </div>
          <p class="mb-0 mt-2">[[${theme.config.box.box1_text}]]</p>
        </a>
      </div>
      <div class="col-3 col-lg-3 text-center">
        <a class="d-block" th:href="${theme.config.box.box2_url}">
          <div class="special-m-item hover-shadow-6 py-2 text-center" style="background: #fe9078">
            <div class="card">
              <div class="card-body">
                <h6 class="mb-0 text-white">
                  <i class="icon icon-gallery fs-22"></i>
                  <span class="d-none d-md-block">[[${theme.config.box.box2_text}]]</span>
                </h6>
              </div>
            </div>
          </div>
          <p class="mb-0 mt-2">[[${theme.config.box.box2_text}]]</p>
        </a>
      </div>
      <div class="col-3 col-lg-3 text-center">
        <a class="d-block" th:href="${theme.config.box.box3_url}">
          <div class="special-m-item hover-shadow-6 py-2 text-center" style="background: #50a1ff">
            <div class="card">
              <div class="card-body">
                <h6 class="mb-0 text-white">
                  <i class="icon icon-cp fs-22"></i>
                  <span class="d-none d-md-block">[[${theme.config.box.box3_text}]]</span>
                </h6>
              </div>
            </div>
          </div>
          <p class="mb-0 mt-2">[[${theme.config.box.box3_text}]]</p>
        </a>
      </div>
      <div class="col-3 col-lg-3 text-center">
        <a class="d-block" th:href="${theme.config.box.box4_url}">
          <div class="special-m-item hover-shadow-6 py-2 text-center" style="background: #a682e4">
            <div class="card">
              <div class="card-body">
                <h6 class="mb-0 text-white">
                  <i class="icon icon-code fs-22"></i>
                  <span class="d-none d-md-block">[[${theme.config.box.box4_text}]]</span>
                </h6>
              </div>
            </div>
          </div>
          <p class="mb-0 mt-2">[[${theme.config.box.box4_text}]]</p>
        </a>
      </div>
    </div>
  </div>
</section>


<section class="soft">
  <div class="container">
    <div class="d-flex section-header my-4">
      <div class="main-title me-4 flex-fill">
        <h4 class="fs-30">
          <i class="icon icon-calendar me-2 fs-28"></i><span>[[${theme.config.header.appPost_text}]]</span>
        </h4>
      </div>
      <div class="more-action">
        <a th:href="${theme.config.header.categoryUrl}" class="more text-primary">
          更多软件
          <i class="icon icon-right text-primary"></i>
        </a>
      </div>
    </div>
    <th:block th:each="appPost : ${theme.config.header.appPost}">
    <div class="row-sm row-cols-2 row-cols-md-6" th:with="posts = ${postFinder.listByCategory(1,6,appPost.app_category)}">
<!--文章输出部分-->
      <div class="col" th:each="post : ${posts.items}">
        <div class="soft-item delay-1">
          <a th:href="@{${post.status.permalink}}" rel="bookmark" th:title="${post.spec.title}+' '+${#annotations.get(post, 'version')}">
            <div class="soft-image">
              <div class="soft-icon" style="--img:url(${post.spec.cover});"></div>
              <img th:src="${post.spec.cover}"
                   th:alt="${post.spec.title}" class="soft-image rounded-sm delay-1"  itemprop="image">
            </div>
            <div class="soft-body">
              <span class="version text-muted"th:text="${#annotations.get(post, 'version')}"></span>
              <h5 itemprop="name headline" class="line-hide-1" th:text="${post.spec.title}"></h5>
              <p class="line-hide-1 mb-0 text-muted" th:text="${post.status.excerpt}"></p>
              <div class="soft-more"><i class="icon fs-36 fw-600 icon-next-arrow"></i></div>
            </div>
          </a>
        </div>
      </div>


    </div>
    </th:block>
  </div>
  </section>

<section class="home-list bg-white py-5">
  <div class="container">
    <div class="d-flex section-header mb-5">
      <div class="main-title me-4 flex-fill">
        <h4 class="fs-30">
          <i class="icon icon-layers me-2 fs-28"></i><span>[[${theme.config.header.category2_text}]]</span>
        </h4>
      </div>
      <div class="more-action">
        <a th:href="${theme.config.header.docUrl}" class="more text-primary">
          更多文章
          <i class="icon icon-right text-primary"></i>
        </a>
      </div>
    </div>
    <div class="row post-list" th:with="posts = ${postFinder.listByCategory(1,10,theme.config.header.category2)}">
      <div class="com-md-12 col-lg-6" th:each="post : ${posts.items}">
        <a th:href="@{${post.status.permalink}}" class="post-news delay-0 hover-shadow-6 list-animation-leftIn">
          <div class="d-flex align-items-center">
            <div class="post-image">
              <img class="delay-0" th:src="${post.spec.cover}"
                   th:alt="${post.spec.title}">
            </div>
            <div class="post-footer">
              <h5 class="line-hide-2" th:text="${post.spec.title}"></h5>
              <div class="text-muted fs-16 me-3" th:attr="datetime=${#dates.format(post.spec.publishTime, 'yyyy-MM-dd')}"
                   th:text="${#dates.format(post.spec.publishTime,'yyyy-MM-dd')}"
                   th:title="${#dates.format(post.spec.publishTime,'yyyy-MM-dd')}"></div>
            </div>
            <div class="read-more d-flex justify-content-end w-80 pr-3"><i class="icon fs-36 icon-next-arrow"></i></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!--手机端文章输出-->

<div class="container-m">
  <div class="row">
    <h5 class="mb-3 pt-4">最近更新</h5>
    <div class="row post-list" th:each="post : ${posts.items}">
      <div class="col-12">
        <a th:href="@{${post.status.permalink}}" th:title="${post.spec.title}" class="post border-bottom d-block py-2">
          <div class="d-flex align-items-center">
            <div class="post-image me-3">
              <img th:src="${post.spec.cover}"
                   th:alt="${post.spec.title}">
            </div>
            <div class="post-footer w-100">
              <h5 class="line-hide-1 fs-16">[[${post.spec.title}]]<span class="text-muted fs-14"><span class="mx-1">-</span>[[${#annotations.get(post, 'version')}]]</span></h5>
              <div class="text-muted line-hide-1 fs-16 me-3" th:text="${post.status.excerpt}"></div>
            </div>
            <i class="icon fs-36 icon-next-arrow"></i>
          </div>
        </a>
      </div>
    </div>
    <div class="pagination-area pt-3  mb-5">
      <a class="btn btn-outline-primary rounded-pill py-2 w-100" href="/categories">查看更多</a>
    </div>
  </div>
</div>
</th:block>>

</body>
</html>