<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{modules/layout :: html(title = ${site.title},bodydepend = docpost, header = null, content = ~{::content}, head = null, footer = null)}">

<th:block th:fragment="content">

<main class="single-item" th:with="contributor = ${post.contributors[0]}">
    <div class="site-main py-5">
        <div class="container">
            <div class="row justify-content-lg-center">
                <div class="col-12 col-md-8">
                    <div class="post-main p-2 p-md-4">
                        <div class="article-header">
                            <h1 class="mb-3" th:text="${post.spec.title}"></h1>
                            <div class="article-meta">
                                <th:block th:if="${not #lists.isEmpty(post.categories)}">
                                <span class="item">分类：<a th:each="category : ${post.categories}"
                                                           th:href="@{${category.status.permalink}}"
                                                           th:text="${category.spec.displayName}"
                                                           th:title="${category.spec.displayName}"></a></span>
                                </th:block>
                                <span class="item" th:text="${'时间： '+#dates.format(post.spec.publishTime,'yyyy月MM月dd')}"></span>
                                <span class="item" th:text="'作者：' +${contributor.displayName}"></span>
                                <span class="item" th:text="'浏览：' +${post.stats.visit}"></span>
                                <span class="item" th:text="评论： +${post.stats.comment}"></span>
                            </div>
                        </div>
                        <div class="article-content pt-3" th:utext="${post.content.content}">

                        </div>
                    </div>
                    <div class="article-comment p-2 p-md-4 d-none d-md-block">
                        <div class="comments-area" id="comments">
                            <div id="respond" class="comments-respond no_webshot">
                                <div class="comment-respond" th:if="${pluginFinder.available('PluginCommentWidget')}">
                                    <halo:comment group="content.halo.run" kind="Post" th:attr="name=${post.metadata.name}"/>
                                </div>
                            </div>
                        </div>					</div>
                </div>
            </div>
        </div>
    </div>
</main>


</th:block>
<script src="/assets/PluginCommentWidget/static/comment-widget.iife.js"></script>
<script>
    CommentWidget.init(
        "#comment",
        "/assets/PluginCommentWidget/static/style.css",
        {
            group: "content.halo.run",
            version: "v1alpha1",
            kind: "Post",
            name: "<replace-post-name>",
        }
    );
</script>
</html>