<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{modules/layout :: html(title = ${tag.spec.displayName} + ' - ' + ${site.title},bodydepend = category, header = null, content = ~{::content}, head = null, footer = null)}">
<th:block th:fragment="content">
    <div class="main">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <header class="special-header text-center py-8">
                        <h1 class="fw-bold fs-60">Best Tools for
                            <span class="text-primary hover-text-underline cursor" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${tag.spec.displayName}">  <i class="fs-36 icon icon-bottom"></i></span>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a href="soft/txsj/photoprocess.html">图像处理</a></li>
                                <li><a href="adobe.html">adobe 2021</a></li>
                            </ul>
                        </h1>
                        <h5 class="text-muted">
                            在这里，您可以找到面向的最佳应用工具。<br>
                            如果您认为我们有所遗漏，请在<a href="/" class="mx-1 text-primary" target="_blank">意见建议</a>处提交给我们，谢谢。
                        </h5>
                    </header>
                    <section class="special-soft">
                        <div class="container">
                            <div class="row row-cols-2 row-cols-md-4">
                                <div class="col" th:each="post : ${posts.items}">
                                    <div class="soft-item delay-0">
                                        <a th:href="${post.status.permalink}"
                                           rel="bookmark" title="${post.spec.title}">
                                            <span class="snow-dot"></span>
                                            <span class="snow-dot"></span>
                                            <span class="snow-dot"></span>
                                            <span class="snow-dot"></span>
                                            <span class="snow-dot"></span>
                                            <span class="snow-dot"></span>
                                            <span class="snow-dot"></span>
                                            <div class="soft-image">
                                                <img th:src="${post.spec.cover}" class="soft-image rounded-sm delay-0" alt="${post.spec.title}" itemprop="image">
                                            </div>
                                            <div class="soft-body pt-6 pb-7">
                                                <h5 itemprop="name headline" class="line-hide-1 fw-600" th:text="${post.spec.title}"></h5>
                                                <span class="version text-muted">V1.2</span>
                                                <p class="line-hide-1 mb-0 text-muted" th:text="${post.status.excerpt}"></p>
                                            </div>
                                            <div class="soft-meta text-muted">
                                                <span><i class="icon icon-down"></i> [[${post.stats.visit}]]</span>
                                                <span class="comments"><i class="icon icon-comments"></i> [[${post.stats.comment}]]</span>
                                                <span class="time"><i class="icon icon-time"></i> [[${#dates.format(post.spec.publishTime,'MM-dd')}]]</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="pagination-area pt-3" th:if="${posts.hasPrevious() || posts.hasNext()}"
                         th:with="totalPages = ${posts.totalPages}, pageIndex = ${posts.page}">
                        <!-- 页面小于 7 -->
                        <div class="pagination" th:if="${(totalPages le 7) && (totalPages gt 0)}">
                            <ul>

                                <!-- 上一页 -->
                                <li class="prev-page">
                                    <a class="extend prev" rel="prev" th:href="@{${posts.prevUrl}}" th:if="${posts.hasPrevious()}">
                                        <i class="icon icon-arrow-left"></i>
                                        <!--                                        <div class="pagination_tips_prev">上页</div>-->
                                    </a>
                                </li>
                                <li th:classappend="${index eq pageIndex} ? 'active'" th:each="index : ${#numbers.sequence(1, totalPages)}">
                                    <a th:href="@{${tag.status.permalink}+ '/page/' + ${index}}" th:text="${index}">

                                    </a>

                                </li>
                                <!-- 下一页 -->
                                <li class="next-page">
                                    <a th:href="@{${posts.nextUrl}}" th:if="${posts.hasNext()}">
                                        <!--                                        <div class="pagination_tips_next">下页</div>-->
                                        <i class="icon icon-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>


                        <!-- 页面大于 7 -->
                        <!-- https://blog.csdn.net/lizc_lizc/article/details/80215147 -->
                        <div class="pagination" th:if="${totalPages gt 7}">
                            <ul>

                                <!-- 上一页 -->
                                <li class="prev-page">
                                    <a th:href="@{${posts.prevUrl}}" th:if="${posts.hasPrevious()}">
                                        <i class="icon icon-arrow-left"></i>
                                        <!--                            <div class="pagination_tips_prev">上页</div>-->
                                    </a>
                                </li>

                                <!-- 首页 -->
                                <li >
                                    <a class="page-number" href="/">1</a>
                                </li>

                                <!-- 当前页面小于等于4 -->
                                <li th:classappend="${index eq pageIndex} ? 'active'" th:each="index : ${#numbers.sequence(2,5)}"
                                    th:if="${pageIndex le 4}">
                                    <a th:href="@{${tag.status.permalink}+ '/page/' + ${index}}" th:text="${index}">

                                    </a>

                                </li>
                                <li>

                                    <a class="page-number" th:if="${pageIndex le 4}">...</a>
                                </li>


                                <!-- 最后一页与当前页面之差小于等于3 -->
                                <li th:if="${totalPages - pageIndex le 3}">
                                    <a class="page-number" >...</a>
                                </li>
                                <li th:classappend="${index eq pageIndex} ? 'active'"
                                    th:each="index : ${#numbers.sequence(totalPages - 4, totalPages - 1)}"
                                    th:if="${totalPages - pageIndex le 3}">
                                    <a th:href="@{${tag.status.permalink}+ '/page/' + ${index}}" th:text="${index}">

                                    </a>

                                </li>


                                <!-- 最后一页与当前页面之差大于3 且当前页面大于4 -->
                                <li th:if="${(pageIndex gt 4) && (totalPages - pageIndex gt 3)}">
                                    <a>...</a>
                                </li>
                                <li th:each="index : ${#numbers.sequence(pageIndex - 1,pageIndex + 1)}"
                                    th:if="${(pageIndex gt 4) && (totalPages - pageIndex gt 3)}">
                                    <a th:href="@{${tag.status.permalink}+ '/page/' + ${index}}" th:text="${index}">

                                    </a>

                                </li>
                                <!-- 需要添加 th:href 跳转地址 -->
                                <li th:if="${(pageIndex gt 4) && (totalPages - pageIndex gt 3)}">
                                    <a class="page-number" >...</a>
                                </li>

                                <!-- 尾页 -->
                                <!-- 需要添加 th:href 跳转地址 -->
                                <li th:classappend="${index eq pageIndex} ? 'active'">
                                    <a th:text="${totalPages}">

                                    </a>

                                </li>

                                <!-- 下一页 -->
                                <li th:if="${posts.hasNext()}">
                                    <a th:href="@{${posts.nextUrl}}" >
                                        <!--                            <div class="pagination_tips_next">下页</div>-->
                                        <i class="icon icon-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</th:block>
</html>